<div class="container container-fluid">
  <br>
  <div class="bootstrap-checkbox">
    <input id="multiExpandableRows" type="checkbox" [(ngModel)]="column.multiExpandableRows"/>
    <label for="multiExpandableRows">Multi Expandable Rows</label>
  </div>
  <hr>
  <div class="bootstrap-checkbox">
    <input id="providerType" type="checkbox" [(ngModel)]="column.providerType"/>
    <label for="providerType">Provider Type</label>
  </div>
  <div class="bootstrap-checkbox">
    <input id="applicationType" type="checkbox" [(ngModel)]="column.applicationType"/>
    <label for="applicationType">Application Type</label>
  </div>
  <hr>
  <mdata-table [indexColumn]="column.indexColumn"
               [selectColumn]="column.selectColumn"
               [items]="items"
               [totalPages]="totalPages"
               [totalItems]="totalItems"
               [size]="size"
               [indexColumnHeader]="'#'"
               [multiExpandableRows]="column.multiExpandableRows"
               [classTable]="''"
               (reload)="reloadItems($event)"
               [expandableRows]="true"
               [rowColors]="rowColors"
               (rowClick)="rowClick($event)"
               (rowDoubleClick)="rowDoubleClick($event)"
               [rowTooltip]="rowTooltip">
    <mdata-table-column
      [property]="'caseNumber'"
      [header]="'Number'"
      [sortable]="true"
      [visible]="true">
    </mdata-table-column>
    <mdata-table-column
      [property]="'NPI'"
      [header]="'NPI'"
      [breakpoints]="'xxs,xs'"
      [sortable]="true">
      <ng-template #dataTableCell let-item="item">
        <button class="btn btn-outline-info btn-sm" (click)="buttonalert(item.NPI)">{{item.NPI}}</button>
      </ng-template>
    </mdata-table-column>
    <mdata-table-column
      [property]="'providerName'"
      [header]="'Provider Name'"
      [breakpoints]="'xxs,xs,sm'"
      [sortable]="true"
      [visible]="true">
    </mdata-table-column>
    <mdata-table-column
      [property]="'status'"
      [header]="'Status'"
      [breakpoints]="'xxs,xs,sm,md'"
      [sortable]="false">
      <ng-template #dataTableHeader let-item="item">
        <span style="color: rgb(232, 0, 0)">Active</span>
      </ng-template>
      <ng-template #dataTableHeaderExtra>
        <i class="fa fa-filter" aria-hidden="true"></i>
      </ng-template>
      <ng-template #dataTableCell let-item="item">
        <span style="color: grey">
          <span class="fa fa-check" *ngIf="item.status"></span>
          <span class="fa fa-close" *ngIf="!item.status"></span>
        </span>
      </ng-template>
    </mdata-table-column>
    <mdata-table-column
      [property]="'assignedTo'"
      [header]="'Assigned to'"
      [sortable]="true"
      [resizable]="true"
      [visible]="true">
    </mdata-table-column>
    <mdata-table-column
      [property]="'applicationType'"
      [header]="'Application Type'"
      [breakpoints]="'xxs,xs,sm,md'"
      [sortable]="true"
      [visible]="column.applicationType">
    </mdata-table-column>
    <mdata-table-column
      [property]="'providerType'"
      [header]="'Provider Type'"
      [breakpoints]="'xxs,xs,sm,md,lgs'"
      [sortable]="true"
      [visible]="column.providerType">
    </mdata-table-column>
  </mdata-table>
</div>
